/* Change Brand Font */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #F0AAB1;
  font-weight: bolder;
}

/* Make Header Image Responsive */
/*.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 90vh;
  border-radius: 0px;
  margin-top: 74px;
}*/

/* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}

a {
  color: black;
}

.active {
  color: white;
  background-color: #DC3545;
  border-radius: 10px;
}

a:hover {
  color: #f26571;
}

/* Change Footer Icon Link Color */
.fi-color {
  color: #DC3545;
}

fi-color:hover {
  color: #E994A2;
}

/* Plus Button for adding New Users Bottom Right */
.box {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-bottom: 30px;
}

/* Setting Margin for Welcome to OSMS */
.mainHeading {
  margin-top: 50px;
}

/* Setting Margin and Alignment for Welcome to OSM Mobile View */
@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.slider {
  background-color: black;
  padding: 10px;
  border-radius: 30px;
  align-content: center;
}

.service-para {
  text-align: justify;
  margin-top: 20px;
  font-size: medium;
  text-wrap: balance;
  font-family: 'Ubuntu', sans-serif;
}

.product {
  border-radius: 10px;
  background-color: lavender;
  margin: 10px;
  padding: 4px;
}

.product img {
  border-radius: 10px;
  margin: 2px;
  padding: 4px;
}

.product:hover {
  background-color: cornsilk;
  transform: scale(1.1);
  transition: transform .2s;
  /* transition-duration: 0.3s rotateY(30deg); */
  /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}

.product-list {
  display: contents;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.service-title {
  text-align: center;
  font-weight: bold;
}

.sidebar {
  border-radius: 20px;
  padding: 10px;
}

.form-group label {
  font-weight: 500;
}

.item-purchase {
  margin-top: 10px;
  border: 0px solid #333;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 10px;
}